/* gamepage.css */
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    width: 100vw; 
    margin: 0 auto;
    padding: 0; 
}

.game-header, .board-container, .game-footer, .game-caption {
    width: 100%; 
    max-width: 1200px; 
    min-width: 300px; 
}


.game-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10px;
    height: 50px;
}

.game-header input[type="text"] {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px; 
    font-size: 1.6em; 
}

#special {
    color: black;
}

.board-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-caption {
    flex: 0.5;
    font-size: 1.5em; 
    margin-top: 1%;
}

.game-footer {
    display: flex;
    justify-content: space-around;
    width: 80%; 
    max-width: 1200px;
    min-width: 300px;
    margin-bottom: 4%;
    margin-top: 2%;
}

.game-header button, 
.game-footer button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

.game-header button:hover,
.game-footer button:hover {
    background-color: #e2e2e2;
}

.game-header input[type="text"] {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}
