/* Board.css */
.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    background: #78bec5;
    border: none;
    border-radius: 10px; /* Rounded corners as per the image */
    margin: 5px;
    padding: 20px;
    font-size: 3em;
    font-weight: bolder;
    color: white;
    width: 200px; /* Or as per your size preference */
    height: 200px; 
  }
  
  /* Color and text adjustments based on player */
  .square.player-X {
    background-color: #dc685a; /* Red color for player X */
  }
  
  .square.player-O {
    background-color: #5d3a9b; /* Yellow color for player O */
  }
  
  /* Hover effect for interactive squares */
  .square:not(:disabled):hover {
    background-color: #3d4250; /* Dark color on hover */
  }
  