/* LoginPage.css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full height of the viewport */
    text-align: center;
    width: 100vw; /* Use the full width of the viewport */
    margin: 0 auto;
    padding: 0px; /* Added padding to ensure consistent spacing */
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adjust space between logo and title */
  }
  
  .logo {
    max-width: 150px; /* Adjust based on your preference */
    height: auto;
    margin-bottom: 20px;
  }
  
  #login-title {
    font-size: 4rem; /* Increase font size for the title */
    margin: 0;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width */
    max-width: 320px; /* Max width of the form */
    margin: 0 auto;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px; /* Adjust this value to increase the gap between button and footer */
    width: 100%;
  }
  
  input,
  .button-play {
    padding: 10px;
    font-size: 2rem;
    margin-top: 50px;
    width: 100%; /* Subtract padding from width to match lengths */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */

  }
  
  .button-play {
    background-color: #007bff; /* Example color - you can choose your own */
    color: white;
    border: none;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    display: block;
    margin-top: 50px; /* Increased margin-top for larger gap */
    margin-bottom: 100px; /* Added margin-bottom to push footer down */
  }

  .footer {
    margin-top: 70px;
  }
  
  /* Accessibility focus outline */
  input:focus,
  button:focus {
    outline: 3px solid #ffbf47;
  }
  
  /* ... additional styles ... */
  
  /* Responsive design: Adjust layout for larger screens */
  @media (min-width: 768px) {
    .login-container {
      justify-content: flex-start;
      padding-top: 5rem; /* Add some padding on top */
    }
  
    .form-container {
      max-width: 500px; /* Larger max-width for larger screens */
    }
  
    #login-title {
      font-size: 6rem; /* Larger font size for larger screens */
      color: black;
    }
  
    .logo {
      max-width: 200px; /* Larger logo for larger screens */
    }
  }
  